<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
  <div class="login-main-text">
    <h2>Oybek Api<br> Login Page</h2>
    <p>Login or register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>User Name</label>
          <input type="text" formControlName="email" class="form-control" placeholder="User Name">
        </div>
        <div *ngIf="form.get('email').invalid && form.get('email').touched" class="validation">
          <small *ngIf="form.get('email').errors.required">Email cannot be empty</small>
          <small *ngIf="form.get('email').errors.email">Please enter correct email</small>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" formControlName="password" class="form-control" placeholder="Password">
        </div>
        <div *ngIf="form.get('password').invalid && form.get('password').touched" class="validation">
          <small *ngIf="form.get('password').errors.required">Password requared</small>
          <small *ngIf="form.get('password').errors.minlength">Password should contein minimum
            {{form.get('password').errors.minlength.requiredLength}} symbols.</small>
        </div>
        <button type="submit" class="btn btn-black">Login</button>
        <button type="submit" class="btn btn-secondary">Register</button>
      </form>
    </div>
  </div>
</div>
